<%= pageTitle 'Smile Sciences | Edit Voucher' %>

<div class="container">
  <h1>Edit Voucher</h1>
  <div class="well">
    <% if notice %>
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= notice %>
      </div>
    <% end %>

    <%= render 'form' %>
  </div>
</div>
